html{
	background-color: #009933;
}
@font-face{
	font-family: 'MyWebFont';
	src: url('Pokemon_Hollow.ttf') format('truetype');
}
@font-face{
	font-family: 'newfont';
	src: url('Pokemon_Solid.ttf') format('truetype');
}
.title{
	font-size: 30px;
	font-family: MyWebFont;
	margin: 0 15px;
	text-align: center;
}
.div1{
	background-color: #008822;
}
.div2{
	float: left;
	width: 250px;
	height: 1550px;
	background-color: white;
	font-family: newfont;
	background-image:url("ash.png");
}
.div3{
	float: right;
	width: 250px;
	height: 1550px;
	background-color: white;
	font-family: newfont;
	background-image:url("ash.png");
	margin: 0 auto;
}
.span1{
	margin-top: 10px;
	padding: 10px 0;
	margin-left: 10px;
}
.span2{
	margin: 0 0 0 10px;
}
.div4{
	margin-left: 230px;
	font-family: Arial;
	margin-bottom: 10px;
}
.span3{
	font-family: arial;
}
.img1{
	margin-bottom: 3px;
}
.table{
	background-color: gray;
	font-family: arial;
	color: white;
}
.img2{
	margin-left: 5px;
	margin-top: 3px;
}
.table1{
	margin-left: 170px;
}
.img3{
	margin-left: 30px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.table2{
	margin-left: 230px;
}
.div5{
	margin-left: 250px;
	margin-bottom: 10px;
}
.img4{
	margin-top: 3px;
	margin-right: 10px;
}
.img5{
	margin-left: 10px;
}