html{
	background-color: #009933;
}
@font-face{
	font-family: 'MyWebFont';
	src: url('Pokemon_Hollow.ttf') format('truetype');
}
@font-face{
	font-family: 'newfont';
	src: url('Pokemon_Solid.ttf') format('truetype');
}
.title{
	font-size: 30px;
	margin: auto;
	font-family: MyWebFont;
	margin: 0 15px;
	text-align: center;
}
.div1{
	background-color: #008822;
}
.div2{
	float: left;
	width: 20%;
	margin: auto;
	height: 1422px;
	background-color: white;
	font-family: newfont;
	background-image:url("ash.png");
	background-size: 100% auto;
    background-repeat: repeat-y;
}
.span1{
	margin-top: 10px;
	padding: 10px 0;
	margin-left: 10px;
}
.div3{
	float: left;
	width: 60%;
	margin: 0 auto;
}
.table{
	width: 100%;
	background-color: gray;
	border: 0;
	color: white;
}
.td1{
	padding: 30px;
}
.td2{
	padding: 30px;
}
.td3{
	padding: 0 50px;
}
td{
	font-style: bold;
}
.div4{
	background-color: #008833;
}
.img1{
	float: left;
}
.img2{
	float: right;
}
.div5{
	float: left;
	width: 20%;
	height: 1422px;
	background-color: white;
	font-family: newfont;
	background-image:url("ash.png");
	background-size: 100% auto;
    background-repeat: repeat-y;
}
.img3{
	margin-right: 170px;
}
.img4{
	margin-left: 170px;
}
.span2{
	margin-left: 10px;
}